<header class="animated-title hidden"><h2>Projects</h2></header>

<hr class="hr-modified hidden"/>

<div class="animated-body projects">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="parent-thumbnail">
                <a href="http://tmodgte.arnoldlabastilla.com/" target="_blank" class="thumbnail">
                    <img src="/images/projects/tmo-site.png" class="img-responsive" alt="Traffic Management Application - TMO-Dumaguete">
                    <div class="thumbnail-overlay">
                        <h4 class="text-center">TMO-Dumaguete</h4>
                        <small>Built with Laravel, jQuery and AJAX within 1 month.</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="parent-thumbnail">
                <a href="https://www.facebook.com/Talenterest?fref=ts" target="_blank" class="thumbnail">
                    <img src="/images/projects/talenterest-site.png" class="img-responsive" alt="Talenterest">
                    <div class="thumbnail-overlay">
                        <h4 class="text-center">Talenterest</h4>
                        <small>Built with Laravel, jQuery and AJAX within 6 months. Website is inactive.</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6 parent-thumbnail">
            <div class="parent-thumbnail">
                <a href="https://www.facebook.com/ListaRides" target="_blank" class="thumbnail">
                    <img src="/images/projects/listarides-site.png" class="img-responsive" alt="Lista Rides">
                    <div class="thumbnail-overlay">
                        <h4 class="text-center">Lista Rides</h4>
                        <small>Built with Laravel, jQuery and AJAX within 1 month. Stopped project and website is inactive.</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 parent-thumbnail">
            <div class="parent-thumbnail">
                <a href="https://www.facebook.com/PostLibre?fref=ts" target="_blank" class="thumbnail">
                    <img src="/images/projects/postlibre-site.png" class="img-responsive" alt="Post Libre">
                    <div class="thumbnail-overlay">
                        <h4 class="text-center">Post Libre</h4>
                        <small>Built with Laravel, jQuery and AJAX within 1 month. Stopped project and website is inactive.</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6 parent-thumbnail">
            <div class="parent-thumbnail">
                <a href="https://www.libertyhomes.co.nz/" target="_blank" class="thumbnail">
                    <img src="/images/projects/liberty-site.png" class="img-responsive" alt="Liberty Homes">
                    <div class="thumbnail-overlay">
                        <h4 class="text-center">Liberty Homes</h4>
                        <small>Built with CodeIgniter, jQuery, AJAX within 4 months.</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 parent-thumbnail">
            <div class="parent-thumbnail">
                <a href="https://onlineenglishcampus.com/" target="_blank" class="thumbnail">
                    <img src="/images/projects/ioec-site.png" class="img-responsive" alt="International Online English Campus">
                    <div class="thumbnail-overlay">
                        <h4 class="text-center">International Online English Campus</h4>
                        <small>Built with CodeIgniter, jQuery, AJAX within 6 months.</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>