@font-face {
    font-family: "Lato Light";
    src: url('../fonts/Lato-Light.ttf'); /* IE9 Compatibility Modes */
    src: url('../fonts/Lato-Light.ttf') format('ttf'),  /* IE6-IE8 */
    url('../fonts/Lato-Light.ttf') format('ttf'), /* Modern Browsers */
    url('../fonts/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Lato-Light.ttf') format('ttf'); /* Legacy iOS */
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato Light', "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Margin bottom by footer height */
    margin-bottom: 85px;

    color: #28405d;
    background-color: #fafafa;
}
    body > .top-pusher {
        padding: 120px 15px 0;
    }

#vue-content p {
    font-size: 18px;
}
#vue-content .animated-title h2 {
    font-size: 40px;
}
#vue-content .skills .row {
    margin-bottom: 20px;
}
#vue-content .skills .img-container {
    position: relative;
    z-index: 1;
    height: 90px;
    width: 90px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 3px;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

#vue-content .skills .img-container:hover {
    border: 1px solid #e9e9e9;
}
#vue-content .skills .help-block {
    text-align: center;
    width: 90px;
    position: absolute;
    bottom: -30px;
    left: 15px;

    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
}
    .footer .text-muted {
        font-size: 12px;
    }

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.tagline {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    margin-top: 40px;
}
    .tagline h1 {
        font-size: 50px;
        font-weight: bold;
    }
    .tagline h1 .love {
        color: #64a2e0;
    }
    .tagline h1 .create {
        font-size: 70px;
    }
    .tagline h1 .eat {
        color: #2b6297;
    }

.description {
    margin-top: 30px;
}
    .description p {
        font-size: 16px;
    }

.footer li {
    font-size: 25px;
}
    .footer li a {
        color: #132a4a;
    }
    .footer li a.facebook {
        background-color: #bdbdbd;
        color: #fafafa;
        padding: 10px;
        border-radius: 50%;
    }
    .footer li a.facebook:hover {
        background-color: #3b5998;
        color: #fafafa;
        /*color: #3b5998;*/
    }
    .footer li a.linkedin:hover {
        color: #0077B5;
    }
    .footer li a.github:hover {
        color: #383839;
    }
    .footer li a.google-plus:hover {
        color: #d34836;
    }
    .footer li a.bitbucket:hover {
        color: #205081;
    }

/* Nav active slider */
#slider {
    position:absolute;
    top: 0;
    height: 2px;
    margin-left: 25px;
    background-color: #2f6ba5;
    color: #2f6ba5;
    z-index:-1;
}
.navbar-nav>li>a {
    padding: 20px 25px;
}
/* END Nav active slider */

/* Parallax */
.parallax-style{
    background-position: bottom !important;
    height: 100%;
}
/* END Parallax */

.hr-modified {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(12,62,113,0.4), rgba(12, 62, 113, 0.3), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(12,62,113,0.4), rgba(12, 62, 113, 0.3), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(12,62,113,0.4), rgba(12, 62, 113, 0.3), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(12,62,113,0.4), rgba(12, 62, 113, 0.3), rgba(0,0,0,0));
}

.breadcrumb {
    background-color: transparent;
}