/*@font-face {
    font-family: "Lato Light";
    src: url('../fonts/Lato-Light.ttf'); *//* IE9 Compatibility Modes *//*
    src: url('../fonts/Lato-Light.ttf') format('ttf'),  *//* IE6-IE8 *//*
    url('../fonts/Lato-Light.ttf') format('ttf'), *//* Modern Browsers *//*
    url('../fonts/Lato-Light.ttf')  format('truetype'), *//* Safari, Android, iOS *//*
    url('../fonts/Lato-Light.ttf') format('ttf'); *//* Legacy iOS *//*
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /*font-family: 'Lato Light', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Comic Sans MS", "Helvetica Neue", Arial, sans-serif;

    /* Margin bottom by footer height */
    margin-bottom: 60px;

    color: #3778AF;
}
    body > .top-pusher {
        height: 130px;
    }

ul.social li {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    margin-right: 15px;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
ul.social li:hover,
ul.social li:hover a {
    border-color: transparent;
    cursor: pointer;
}
ul.social li a {
    color: #FFFFFF;
    padding: 10px;
}
ul.social li.facebook {
    background-color: #4364ac;
}
ul.social li.facebook:hover {
    background-color: #35518b;
}
ul.social li.linkedin {
    background-color: #0077B5;
}
ul.social li.linkedin:hover {
    background-color: #006599;
}
ul.social li.google-plus {
    background-color: #d34836;
}
ul.social li.google-plus:hover {
    background-color: #af3b2d;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
    .footer .container p {
        margin-top: 20px;
        color: #3778AF;
    }
    .footer .container ul.social {
        margin-top: 15px;
    }
    .footer ul.social li {
        height: 30px;
        width: 30px;
        padding-top: 5px;
    }
    .footer ul.social li a {
        padding: 5px;
    }

a {
    color: #204262;
}
a:hover {
    color: #3778AF;
    text-decoration: none;
}

.animated-title,
.hr-modified {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
}
.vue-content .animated-body p {
    font-size: 16px;
}
.vue-content .animated-title h2 {
    margin-top: 0;
}
.vue-content .skills .thumbnail {
    border-color: transparent;
    position: inherit;
    z-index: 1;
}
.vue-content .skills .thumbnail:hover {
    border-color: #64A2E0;
}
.vue-content .vue-sub-content span {
    margin-top: -10px;

    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
}

.vue-content .projects .col-xs-6,
.vue-content .projects .col-md-6 {
    padding: 5px;
    margin-bottom: -20px;
}

.vue-content .about p,
.vue-content .contact,
.vue-content .contact p {
    font-size: 18px;
}

.parent-thumbnail {
    position: relative;
}
.parent-thumbnail .thumbnail .thumbnail-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.parent-thumbnail .thumbnail .thumbnail-overlay h4 {
    opacity: 0;
    color: #FFFFFF;

    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
}

.navbar-default {
    background-color: #FFFFFF;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    background-color: transparent;
    color: #3778AF;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #406a8f !important;
}

.tagline {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    margin-top: 40px;
}
    .tagline h1 {
        font-size: 50px;
        font-weight: bold;
        color: #134371;
    }
    .tagline h1 .love {
        color: #64a2e0;
    }
    .tagline h1 .create {
        font-size: 70px;
    }
    .tagline h1 .eat {
        color: #2e69a2;
    }

.description {
    margin-top: 30px;
}
    .description p {
        font-size: 16px;
    }

/* Nav active slider */
#slider {
    position:absolute;
    top: 0;
    height: 2px;
    margin-left: 25px;
    background-color: #2f6ba5;
    color: #2f6ba5;
    z-index:-1;
    opacity: 1;
}
.navbar-nav>li>a {
    padding: 20px 25px;
}

/* Parallax */
.parallax-style{
    background-position: bottom !important;
    height: 100%;
}

.hr-modified {
    border-top: 0;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;

    background-image: -webkit-linear-gradient(left, rgba(151, 161, 166, 0.40), rgba(151, 161, 166, 0.30), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(12,62,113,0.4), rgba(12, 62, 113, 0.3), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(12,62,113,0.4), rgba(12, 62, 113, 0.3), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(12,62,113,0.4), rgba(12, 62, 113, 0.3), rgba(0,0,0,0));
}

.nav .nav-pills {
    border-radius: 0;
    margin-bottom: 5px;
}
    .nav-pills>li>a {
        border-radius: 0;
        color: #3778AF;

        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
     }
    .nav-pills>li>a.v-link-active-exact,
    .nav-pills>li>a:focus,
    .nav-pills>li>a:hover {
        background-color: #F7F7F7;
        color: #23527c;
    }

.vue-sub-content {
    padding: 5px;
}

.navbar-brand {
    background-color: #FFFFFF;
    height: 80px;
    width: 80px;
    padding: 5px;
}
.navbar-brand>img {
    /*width: 80px;*/
}

.flat-popover-content {
    display: none;
}
.popover {
    background-color: #1F5081;
    color: #FFFFFF;
    border-radius: 0;
    border: none;
    max-width: 300px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    font-family: inherit;
}
.popover.top>.arrow:after {
    border-top-color: #1F5081;
}
.popover-content {
    padding: 2px 5px;
}

@media (max-width: 767px) {
    #slider {
        opacity: 0;
    }
    .footer .container p {
        text-align: center;
    }
    .tagline h1 {
        font-size: 25px;
    }
    .tagline h1 .create {
        font-size: 35px;
    }
    .footer .container {
        text-align: center;
    }
    .footer .container ul.social {
        float: none !important;
        display: inline-block;
    }
}