<div class="animated-title">
    <h2>Contact</h2>
</div>

<hr class="hr-modified"/>

<div class="animated-body contact">
    <p>So, let's talk about your business' system requirements!</p>

    <address>
        <i class="fa fa-map-marker"></i> &nbsp; Bacong, Negros Oriental, Philippines<br>
        <i class="fa fa-phone"></i> &nbsp; +63 926 214 0562<br>
        <i class="fa fa-envelope"></i> &nbsp; labastillaarnold@gmail.com
    </address>

    <ul class="list-inline social">
        <li class="facebook">
            <a href="https://www.facebook.com/arnoldlabastilla" target="_blank">
                <i class="fa fa-facebook"></i></a></li>
        <li class="linkedin">
            <a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=tl_PH" target="_blank">
                <i class="fa fa-linkedin"></i></a></li>
        <li class="google-plus">
            <a href="https://plus.google.com/u/0/110558063799729540810/posts" target="_blank">
                <i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>