<div class="animated-title"><h2>About</h2></div>

<hr class="hr-modified"/>

<div class="animated-body about">
    <div class="vue-sub-content">
        <p>
            I'm a Web Developer. I create competitive, stunning websites and analyze web systems based on your requirements.
            I modify, redesign (layout/codes/database), and beautify websites passionately with the use of my skills.
            I let my hands get dirty on coding, specifically on backend side. Also, a good problem solver.
        </p>

        <p>I'm a happy, curious, and motivated person.</p>

        <p>View my <a href="http://docs.google.com/viewer?url=http%3A%2F%2Flocal.arnoldlabastilla.com%2Fresume%2FArnoldLabastillaResume.docx" target="awindow">google resume</a>.</p>
    </div>
</div>