<div class="animated-title"><h2>About</h2></div>

<hr class="hr-modified"/>

<div class="animated-body">
    <p>
        I'm a <strong>Web Developer</strong>. I create competitive and stunning websites and analyze web systems based on your requirements.
        Modifying, redesigning (frontend/backend/codes/database), and beautifying websites passionately with the use of my <strong>skills</strong>.
        I let my hands get dirty on coding, specifically on backend side. Also, a good problem solver.
    </p>

    <p>I'm a happy, curious, and motivated person.</p>

    <p>So, let's talk about your business' system requirements!</p>

    <p>View my <a href="#">resume</a>.</p>
</div>