<div class="animated-title"><h2>About</h2></div>

<hr class="hr-modified"/>

<div class="animated-body about">
    <div class="vue-sub-content">
        <p>
            I'm a Web Developer. I create websites and analyze web systems based on your requirements.
            I modify, redesign (layout/codes/database), and beautify websites passionately with the use of my skills.
            I let my hands get dirty on coding, specifically on backend side. Also, a good problem solver.
        </p>

        <p>I'm a happy, curious, and motivated person.</p>

        <p>View <a href="/resume/ArnoldLabastillaResume.pdf" target="awindow">my resume</a>.</p>
    </div>
</div>