<div class="row">
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/mysql.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">MySQL</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/phpmyadmin.png" alt="PHPMyAdmin" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">PHPMyAdmin</span>
    </div>
</div>