<div class="row">
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/laravel.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">Laravel</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/html5.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">HTML5</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/css3.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">CSS3</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/bootstrap.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">Bootstrap</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/jquery.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">jQuery</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/ajax.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">AJAX</span>
    </div>
</div>
<div class="row">
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/codeigniter.png" alt="Codeigniter" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">CodeIgniter</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/kohana.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">Kohana</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/php.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">PHP</span>
    </div>
</div>