<h4>Applications | IDE | Tools</h4>

<div class="row">
    <div class="col-md-2">
        <div class="img-container">
            <img src="/images/skills/phpstorm.png" alt="PHP Storm" class="img-responsive"/>
        </div>
        <span class="help-block text-center" style="opacity: 0;">PHPStorm</span>
    </div>
    <div class="col-md-2">
        <div class="img-container">
            <img src="/images/skills/sublime.png" class="img-responsive"/>
        </div>
        <span class="help-block text-center" style="opacity: 0;">Sublime</span>
    </div>
    <div class="col-md-2">
        <div class="img-container">
            <img src="/images/skills/photoshop.png" class="img-responsive"/>
        </div>
        <span class="help-block text-center" style="opacity: 0;">Photoshop</span>
    </div>
</div>