<h4>Repositories</h4>

<div class="row">
    <div class="col-md-2">
        <div class="img-container">
            <img src="/images/skills/github.png" class="img-responsive"/>
        </div>
        <span class="help-block text-center" style="opacity: 0;">Github</span>
    </div>
    <div class="col-md-2">
        <div class="img-container">
            <img src="/images/skills/bitbucket.png" class="img-responsive"/>
        </div>
        <span class="help-block text-center" style="opacity: 0;">Bitbucket</span>
    </div>
</div>