<div class="row">
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/github.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">Github</span>
    </div>
    <div class="col-md-2 parent-thumbnail">
        <a class="thumbnail">
            <img src="/images/skills/bitbucket.png" class="img-responsive"/>
        </a>
        <span class="help-block text-center" style="opacity: 0;">Bitbucket</span>
    </div>
</div>