<header class="animated-title"><h2>Skills</h2></header>

<hr class="hr-modified"/>

<div class="animated-body skills">
    <ul class="nav nav-pills nav-justified">
        <li><a v-link="{ path: '/skills/chart' }" class="vue-nav vue-sub-nav" data-class="skills">Chart</a></li>
        <li>
            <div class="flat-popover-content">
                <small>Frameworks | Languages | Markups | Styles</small>
            </div>
            <a v-link="{ path: '/skills/frameworks-languages-markups-styles' }" class="vue-nav vue-sub-nav" data-class="skills">Frameworks</a>
        </li>
        <li>
            <div class="flat-popover-content">
                <small>Applications | IDE | Tools</small>
            </div>
            <a v-link="{ path: '/skills/applications-ide-tools' }" class="vue-nav vue-sub-nav" data-class="skills">Applications</a>
        </li>
        <li><a v-link="{ path: '/skills/databases' }" class="vue-nav vue-sub-nav" data-class="skills">Databases</a></li>
        <li><a v-link="{ path: '/skills/repositories' }" class="vue-nav vue-sub-nav" data-class="skills">Repositories</a></li>
    </ul>

    <div class="vue-sub-content">
        <router-view></router-view>

        <p>View <a href="/resume/ArnoldLabastillaResume.pdf" target="awindow">my resume</a>.</p>
    </div>
</div>